a {
    color: $solarized-blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 2px solid $solarized-blue;
    padding-left: 10px;
}

body {
    background-color: $background-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Fira Code;
    color: $heading-color;
}
