a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: $background-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Hack;
    color: $heading-color;
}