.post-link {
    color: $solarized-blue;
}

.home-link {
    color: $solarized-cyan;
    font-family: Hack;
}

ul {
    list-style: none;
}

time {
    color: $solarized-yellow;
    font-family: Hack;
}