---
layout: default
---

<header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <a href="{{ site.baseurl }}/" class="home-link">&lt; Back to home</a>
    <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            written on: {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
        <br/>
        <span>tags: </span>
        {%- for tag in page.tags -%}
            <span>[{{ tag }}] </span>
        {%- endfor -%}
    </p>
</header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div id="disqus_thread">
</div>
<script>
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://solarized-blog-theme.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>